.footer-container {
    width: 100%;
    opacity: .7;
    text-align: center;
    color: #777;
    border-top: 1.5px solid #d1bcbc;
    
}

@media screen and (max-width: 768px) {
    .footer-container {
      width: 100%;
    }
  }