.meals-list {
    text-align: center;
    margin-top: 80px;
    margin-bottom: 100px;

  }
  
  .meal-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    flex-wrap: wrap;
    
  }
 
  
  